/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  --dark-text: #7c7c7c;
  --light-text: #DADADA;
  --dark-bg: #343A40;
  --light-bg: #dddddd;
  --hover-bg: linear-gradient(-120deg, #021B79, #0575E6, #205E9B);
  --blue-fill: #0575E6;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}
a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:active {
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #c5c5c5;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* CSS FOR SIGN IN */
.signin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 8%, #9599E2 46%, #b1b1b1 100%);
  
}

form.sign-in {
  width: 100%;
  max-width: 550px;
  height: 100vh;
  margin: auto 0;
  text-align: left;
  font-size: 1.5rem;
  
}

form .container {
  height: 100vh;
  padding: 50px 15px;
  position: fixed;
}

.logo-container img{
  display: block;
  margin: 0 auto;
}

form .container i {
  color: white;
  opacity: 0.6;
  padding-top: 13px;
  display: inline;
}

.signin-page input[type=text], input[type=password] {
  display: inline-block;
  width: 90%;
  height: 3.5em;
  margin: 10px 0 20px 0;
  background: transparent;
  border: none;
  border-bottom: white 0.9px solid;
  border-radius: 0px;
  color: white;
  font-size: 1.2rem;
}

label[for=remember] {
  color: rgb(209, 209, 209);
}


input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

button.login {
  display: block;
  margin: 20px auto 30px auto;
  width: 75%;
  height: 60px;
  background: white;
  border-radius: 20px;
  font-size: 1.2rem;
  color: rgb(131, 131, 131);
  border: white 0.8px solid;
  cursor: pointer;
  opacity: 0.8;
  letter-spacing: 2px;
  font-weight: bold;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

/* Header and menu */
header {
  width: 100%;
  background: var(--light-bg);
  position: fixed;
  top: 0;
  z-index: 9999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 0px;
}

header i {
  font-size: 1.7rem;
  color: var(--blue-fill);
  padding-right: 20px;
}

.logo {
  cursor: pointer;
}

.side-menu {
  width: 50%;
  height: 100vh;
  background-color: #E9E8E8;
  right: 0;
  position: fixed;
  z-index: 9998;
  top: 70px;
  box-shadow: 0px 0px 0px 2px rgb(193, 193, 193);
  display:none;
}

.side-menu .logo {
  margin: 15px auto 20px;
  display: flex;
  width: 170px;
  height: 130px;
}

.side-menu ul {
  text-align: center;
}

.side-menu ul li {
  padding: 20px 0;
  font-size: 1.2rem;
  transition: background .3s ease-in-out;
}

.side-menu ul li:hover {
  background: #0575E6;
  color: white;
}

/* HOME PAGE CSS */

.home-page-container {
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  margin: 75px 0px 7px;
  background-color: var(--light-bg);
  padding: 20px 0 20px 20px;
}

.intro h1 {
  font-weight: bold;
  padding-bottom: 5px;
}

.intro h3 {
  font-size: 1.3rem;
}

.top-card {
  width: 100%;
  
}

.top-card-info {
  margin: 0px 0px 8px 0px;
  background: linear-gradient(-120deg, #021B79, #0575E6, #205E9B);
  height: auto;
  border-radius: 10px;
  color: var(--light-text);
  width: 95%;
}

.top-card-info h1 {
  font-weight: bold;
  padding: 20px;
}

.top-card-info p {
  font-size: 1.1rem;
  padding: 0px 30px 40px 20px;
  line-height: 20px;
}

.top-card-info button {
  margin: 0px 0px 30px 30px;
  width: 180px;
  height: 70px;
  font-size: 1.2rem;
  font-weight: bold;
  background: var(--light-text);
  color: var(--dark-text);
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  cursor: pointer;
}

.top-card-info-right {
  display: none;
  text-align: left;
  width: 47%;
  height: auto;
}

.most-popular-section {
  width: 100%;
  height: auto;
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none;
  background-color: var(--light-bg);
  margin-bottom: 8px;
  
}
.info-right-container {
  width: 80%;
  margin: 10px 0px 20px 10px;
}

.info-right-container h2 {
  padding: 20px 0;
  position: relative;
}

.info-right-container h2::after {
  bottom: 10px; 
  left: 0;
  width: 60px;
  background:#0575E6;
  position: absolute;
  content: '';
  height: 5px;
}

.info-right-container p {
  font-size: 1.3rem;
}

.most-popular-info {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background-color: var(--light-bg);
  padding: 20px 0px 20px 10px;
}

.most-popular-selection {
  width: 1250px;
  
}

.most-popular-info a {
  font-size: 1rem;
  font-weight: bold;
  color: var(--blue-fill);
  padding-right: 10px;
}

.most-popular-section .popular-selection-card {
  width: 160px;
  height: 290px;
  margin: 0px 7px;
  text-align: center;
  float: left;
}

.most-popular-section .popular-selection-card .fa-plus-circle {
  margin: 105px 0;
  font-size: 3rem;
  align-items: center;
  text-align: center;
  opacity: 0.6;
}

.most-popular-section .popular-selection-card span {
  position: absolute;
  bottom: 90px;
  left: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.6;
}

.most-popular-section .popular-selection-card .description {
  
  color: white;
  background-color: rgb(77, 77, 77);
  opacity: 0.9;
  padding: 15px 10px;
  font-weight: bold;
  line-height: 20px;
  display: none;
}

.most-popular-section .popular-selection-card:hover .description {
  display: inherit;
  
}

.popular-selection-card .description .fas {
  background-color: white;
  color: var(--dark-text);
  font-size: 1.7rem;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: -20px;
  left: 60px;
}

.popular-selection-card .description h2 {
  padding: 8px 0px;
}

.menu {
  padding: 0px;
  margin: 0;
  position: relative;
}

.menu .list1 {
  width: 100%;
  font-weight: bold;
  background-color: var(--light-bg);
  display: relative;
  padding: 20px 0px 0px 0px;
  border: #9c9c9c solid 0.2px;
}

.list1 h3 {
  margin-left: 10px;
  padding-bottom: 20px;
}

.list1 h3, i {
  display: inline-block;
}

.list1 i:active {
  transform: rotate(90deg);
}

.list1 .fas {
  float: right;
  font-size: 1.4rem;
  margin-right: 10px;
}
/* list functionality */
.list1 .submenu-list-1 {
  display: none;
}

.list1 .submenu-list-1 li {
  background-color: var(--light-bg);
  padding: 20px 0 25px 10px;
  
}

.list1 .submenu-list-1 i {
  float: right;
  margin-right: 30px;
  font-size: 1.5rem;
}

 .list1 .submenu-list-1 li:hover {
  background: var(--hover-bg);
  color: var(--light-text);
}
/* FOOTER */
footer {
  background-color: var(--dark-bg);
  text-align: left;
  display: inherit;
  padding-bottom: 50px;
}

footer ul {
  display: inline-block;
  margin: 25px 15px 0px 10px;
  text-align: left;
  vertical-align: top;
}

footer ul h2 {
  padding: 0 0 10px 0;
  color: var(--dark-text);
}

footer ul li {
  display: block;
  padding: 7px 0px;
  color: var(--light-text);
  transition: color .2s ease-in-out;
}

footer ul li:hover {
  color: var(--blue-fill);
}

/* Header for Contact Page */
header.contact-page-header {
  height: 280px;
  background-image:
  linear-gradient(to bottom, rgba(73, 107, 202, 0.7), rgba(5, 117, 230, 0.9)),
  url('/images/signinbg.jpg');
}

header.contact-page-header .header-text {
text-align: center;
color: white;
}

header.contact-page-header .header-text h1 {
font-weight: bold;
margin: 30px 0 10px 0;
font-size: 2.6rem;
letter-spacing: 2px;
}

header.contact-page-header .header-text h3 {
font-size: 2rem;
padding: 0 5px;
}

/* CONTACT PAGE */
.contact-page-container {
  margin: 300px auto 0px auto;
  
}

.contact-page-container .form-left {
  margin: 0 auto;
  padding: 10px 10px;
  width: 100%;
  display: inline-block;
}

.contact-page-container .contact label[for=message], input[id=message] {
  display: block;
  width: 100%;
}

.contact-page-container .contact label {
  width: 100%;
  width: block;
}

.contact-page-container .contact input {
  margin-top: 10px;
  width: 100%;
  width: block;
  padding-left: 10px;
  border: none;
  background-color: #bdc1c9;
  height: 35px;
}

.contact-page-container .contact .contact-message {
  height: 150px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: none;
  background-color: #bdc1c9;
}

.contact-page-container .contact input[type="submit"] {
  height: 40px;
  color: white;
  background: linear-gradient(-120deg, #021B79, #0575E6, #205E9B);
  
}

.contact-page-container .contact input[type="checkbox"] {
  width: 18px;
  vertical-align: middle;
}

.contact-page-container .right-map {
  width: 100%;
  display: block;
  margin: 10px 0 50px;
}

.contact-page-container .right-map iframe {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 20px;
  height: 200px;
}

.contact-page-container .right-map p {
  margin: 0px 0px 8px 10px;
  
}

.contact-page-container .right-map p a {
  color:#496bca;
}

/* BOOKS PAGE */
.books-page-container {
  margin: 90px 0px 50px 0px;
  
}

.book-card-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 3.5px;
  
}

.book-card-container .book-card {
  background-image: url(/images/petersonjor.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 154px;
}


/* MEDIA QUERIES */
@media screen and (min-width: 700px) {
  .side-menu {
    width: 25%;
  }

  .top-card-info {
    width: 50%;
    display: inline-block;
  }
  .contact-page-container {
    margin: 300px 10% 0px;
    
  }

  .contact-page-container .form-left {
    margin: 0 auto;
    padding: 10px 10px;
    width: 49%;
    display: inline-block;
  }

  .contact-page-container .right-map {
    width: 50%;
    display: inline-block;
    margin: 10px 0 50px;
  }

  .contact-page-container .right-map iframe {
    height: 420px;
    
  }

  .top-card-info-right {
    display: inline-block;
  }

  .most-popular-section .popular-selection-card {
    width: 190px;
    height: 300px;
  }

  .most-popular-selection {
    width: 1500px;
}


  footer {
    background-color: #343A40;
    color: white;
    display: flex;
    text-align: center;
    display: inherit;
  }

  footer ul {
    margin: 30px 60px 50px 60px;
  }
}
