
 
 .header-container {
   width: 100%;
   background-color: white;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
 }

 .header-logo {
    cursor: pointer;
 }
 
 .header-container nav {
   display:flex;
   align-items:center;
 }
 
 .header-container nav a {
   margin-right: 20px;
   list-style:none;
   text-decoration: none;
   color: var(--dark-text);
   transition: color .2s ease-in-out;
   font-size: 20px;
   font-weight: bold;
 }

 .header-container nav a:hover {
     color: var(--light-text);
 }

 .top-jumbo {
    width: 100%;
    height: 100%;
    background: #1b1b1b;
    position: relative;
    overflow: hidden;
 }

.top-jumbo__video-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
 }

.top-jumbo__video {
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 100vh;
    filter: saturate(0.1);
    transform: scale(1.5);
    cursor: pointer;
    position: absolute;
 }

 .top-jumbo__info-container {
    width: 100%;
    height: 100vh;
    position: relative;
 }

 .top-jumbo__info {
     position: absolute;
     bottom: 100px;
     left: 10%;
     margin: 0 auto;
     max-width: 1200px;
     color: white;
     flex-direction: column;
 }

 .top-jumbo__title {
     font-size: 2rem;
     width: fit-content;
     background-color: black;
     color: white;
     margin-bottom: 2rem;
     font-weight: 700;
     text-transform: uppercase;
     padding: 10px;
 }
.top-jumbo__para {
    width: 600px;
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: white;
    color: black;
    padding: 10px;
}

section.intro {
    width: 100%;
    height: 100vh;
}

.intro-container {
    display: flex;
    max-width: 1400px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    
}

.intro-logo {
    display: inline-block;
    width: 50%;
}

.intro-logo__img {
    width: 100%;
    height: 100vh;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.intro-info {
    display: inline-block;
    width: 40%;
    height: 100%;
    position: relative;
    
}

.intro-info__container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px 0 55px 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.intro-info__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
}

.intro-info__description {
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 50px;
}

.line-decor {
    height: 2px;
    width: 180px;
    background-color: var(--dark-text);
    margin-bottom: 50px;
}

ul.intro-info__links {
    display: flex;
    flex-wrap: wrap;
}

ul.intro-info__links li {
    width: 50%;
    padding: 10px 0;
}

ul.intro-info__links a{
    text-decoration: none;
    color: var(--dark-text);
    font-size: 1rem;
    font-weight: 700;
    transition: color .2s ease-in-out;
}

ul.intro-info__links a:hover {
    color: var(--light-text);
}

.jumbo-info {
    width: 100%;
    height: 100vh;
    position: relative;
}

.jumbo-info__bgimg {
    width: 100%;
    height: 100vh;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    position: absolute;
}

.jumbo-info__description--container {
    position: absolute;
    color: var(--light-text);
    width: 500px;
    height: 100%;
    right: 100px;
    top: 100px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.jumbo-info__title {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.jumbo-info__description {
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 30px;
}

.line-decor-white {
    height: 2px;
    width: 180px;
    background-color: var(--light-text);
    margin-bottom: 50px;
}

.jumbo-info__description--btn {
    color: var(--light-text);
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 500;
    border-bottom: none;
}

.jumbo-info__description--btn {
    color: var(--light-text);
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 500;
    border-bottom: none;padding: 10px;
}

.jumbo-info__description--btn::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--gold-logo);
    display: block;
    margin: 20px 0;
    transition: all 0.2s ease-in-out;
}

.jumbo-info__description--btn:hover::after {
    width: 120px;
}










 




.new-collections {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0px 0px 0px;
}

.new-collections-title {
    color: var(--text-dark);
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 20px;
}





.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    
}

.new-collections-item {
    background-image: url('https://cdn.shopify.com/s/files/1/0264/2218/1937/files/vt_home_720x.jpg?v=1615457079');
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
    width: 325px;
    height: 280px;
    position: relative;
    transition: all .2s ease-in-out;
}

.new-collections-item:hover {
    opacity: 0.9;
}

.new-collectinos-item-info {
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.new-collectinos-item-info h1 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.new-collectinos-item-info h3 {
    font-size: 1rem;
}